In [1]:
import streamlit as st
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(
    np.random.rand(100, 2)/[50, 50] + [35.69, 139.79],
    columns=['lat', 'lon']
)
df

          lat         lon
0   35.705280  139.804022
1   35.703351  139.793804
2   35.697695  139.807728
3   35.696612  139.806424
4   35.691189  139.797011
..        ...         ...
95  35.709673  139.795423
96  35.693631  139.802057
97  35.707330  139.797270
98  35.703732  139.798145
99  35.708225  139.794210

[100 rows x 2 columns]

In [3]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]