In [1]:
import streamlit as st
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame(
    np.random.rand(100, 2)/[50, 50] + [35.69, 139.79],
    columns=['lat', 'lon']
)
df

          lat         lon
0   35.693937  139.793399
1   35.706472  139.799639
2   35.695593  139.794824
3   35.703272  139.795283
4   35.701377  139.791649
..        ...         ...
95  35.702420  139.791580
96  35.691761  139.806875
97  35.693446  139.802255
98  35.706865  139.809562
99  35.691540  139.805230

[100 rows x 2 columns]

In [6]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]